@import 'variables';
@import'reset';

@mixin title(){
    color: var(--color-text);
    font-size: $fs-title;
}

@mixin button(){
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-image: linear-gradient(to right,$color-brand-light,$color-brand-dark);

    &:hover{
        background-image: linear-gradient(to left,$color-brand-light,$color-brand-dark);
    }

    &:active{
        transform: scale(0.98);
    }
}


*{
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;    
    background-color: var(--bg-body);
    height: 100vh; //view height (unidade baseada na janela do browser)

    display: flex;
    justify-content: center;
    align-items: center;    
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}

#theme-select{
    position: absolute;
    top: 10px;
    right: 10px;

    @include button();
    border-radius: 5px;
    padding: 0 20px;

    option{
        //background-color: $color-brand-dark;
        font-weight: bold;
    }

}

.theme{
    position: absolute;
    top: 10px;
    right: 10px;    

    &:hover{
        ul{
            display: block;
        }
    }


    //todos os botões
    button{
        background-color: transparent;
        border: none;
        padding: 10px;
        color: var(--color-text);
        cursor: pointer;        
        width: 150px;       
        border-radius: 5px;
        text-align: left;

        &:hover{
            background-color: var(--bg-primary);
            color: var(--color-text);
        }

        i{
            margin-right: 5px;
        }
    }
    
    //primeiro botão
    > button{
        border: solid 1px transparent;
        border-bottom: 1px solid #00A9CE;
    }

    //quando o foco estiver no primeiro botão
    > button:focus{
        border: solid 1px #666;
    }

    //quando o foco estiever no primeiro botão, vou manipular a ul que for a "irmã" do botão
    //> button:focus + ul{
        //display: block;     
        //opacity: 1;   
        //transform: (translateY(0));               
    //}

    ul{
        margin: 5px 0 0 0;
        padding: 0;
        list-style: none;
        display: none;                  
        //transform: (translateY(-200px));
        //transition: 1s;
        //opacity: 0;
    }
}

.container{
    width: 550px;
    height: 416px;
    background-color:var(--bg-primary);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 75px;
    box-sizing: border-box;

    #content-result{
        display: none;
    }

    .content{
        width: 100%;
        text-align: center;
        

        button{
            @include button();
            width: 100%;
        }

        h1,h2{
            @include title(); //incluindo o mixin
        }
        
        p{
            color: var(--color-text);
        }

        p.info{
            margin: 30px 0;
        }

        form{
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            input{
                height: 50px;
                background-color: var(--bg-input);
                border: none;
                border-radius: 5px;
                padding: 15px;
                box-sizing: border-box;
                color: var(--color-text);
                font-size: 16px;
            }

        }
        
    } 

}

.footer{
    width: 100%;
    background-color: var(--bg-primary);
    position: fixed;
    bottom: 0;
    padding: 20px 0;

    .container-footer{
        max-width: 1100px;
        margin: 0 auto;        
        display: flex;
        column-gap: 75px;

        p{
            color: var(--color-text);
            font-size: 14px;

            a{
                color: $color-brand-light;

                &:hover{
                    color: $color-brand-dark;
                }
            }
        }

        button{
            @include button();
            width: 175px;
        }
    }
}


